@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", "Playfair Display", Georgia, "Times New Roman", serif;
  text-transform: capitalize;
}

body {
  background: #108dc7;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
  color: #c8effe;
  text-shadow: 2px 2px 4px white;
}

header img {
  width: 10vw;
  height: auto;
}

input[type="text"] {
  padding: 10px;
  border-radius: 24px;
  border: none;
  width: 40vw;
  font-size: 1rem;
  font-weight: 600;
}

.in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8effeda;
  width: 44vw;
  padding: 10px;
  border-radius: 34px;
}

.in img {
  width: 32px;
  height: auto;
  margin: 0px 6px 0px 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

input[type="submit"] {
  padding: 8px;
  margin: 9px;
  border: none;
  width: 100px;
  border-radius: 26px;
  cursor: pointer;
}

#error {
  width: 40vw;
  height: 50px;
  margin: -74px 0px 48px 30vw;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  display: none;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

article {
  width: 254px;
  height: 360px;
  margin-bottom: 40px;
  border-radius: 8px;
  background: linear-gradient(145deg, #0e7fb3, #1197d5);
  box-shadow: 5px 5px 19px #0f82b7, -5px -5px 19px #1198d7;
}

article {
  width: 240px;
  height: 360px;
  border-radius: 8px;
  backdrop-filter: blur(14px) saturate(80%);
  -webkit-backdrop-filter: blur(14px) saturate(80%);
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

article img {
  object-fit: contain;
}

#img_info {
  display: grid;
  place-items: center;
  font-size: 1.3rem;
}

article #city {
  text-align: center;
  padding: 26px 0px 4px 0px;
  font-size: 1.6rem;
}

#details {
  margin-top: 10px;
  text-align: center;
}

#details .t {
  padding: 0px 0px 10px 0px;
  font-weight: 500;
  font-size: 2rem;
}

#desc {
  text-transform: capitalize;
  margin: -4px 0px 4px 0px;
  text-align: center;
  height: 30px;
  line-height: 22px;
}

#humid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

#humid2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 34px 0px;
  display: none;
}

.humidBox {
  display: flex;
  align-items: center;
  margin: 5px;
}

.humidFont {
  font-size: 1.1rem;
  font-weight: 500;
}

.windFont {
  text-transform: lowercase;
  font-size: 1rem;
  margin: 0px 0px 0px 5px;
  font-weight: 500;
}

.humidFontText {
  font-size: 0.8rem;
  margin: -2px 0px 0px 5px;
}

.windFontText {
  font-size: 0.7rem;
  margin: -2px 0px 0px 5px;
}

.spacing {
  margin: -6px 0px 6px 0px;
}

.humidSpace {
  margin-left: -18px;
}

.textStyle {
  font-size: 1.2rem;
  font-weight: 500;
}

#main_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
  display: none;
}

.invisible {
  display: none;
}

.content {
  margin-left: 20px;
  width: 60vw;
  height: 360px;
  backdrop-filter: blur(14px) saturate(80%);
  -webkit-backdrop-filter: blur(14px) saturate(80%);
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.city_name {
  text-align: center;
  font-size: 2rem;
  padding: 10px 10px 4px 10px;
}

.others {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.array {
  width: 780px;
  height: 252px;
  margin: 0px 0px 0px 16px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.array::-webkit-scrollbar {
  width: 4px;
}

.array::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.array::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.space {
  text-align: center;
}

.small_card {
  background: linear-gradient(145deg, #0e7fb3a1, #1197d5);
  backdrop-filter: blur(14px) saturate(80%);
  -webkit-backdrop-filter: blur(14px) saturate(80%);
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 210px;
  margin: 10px;
  position: relative;
}

.s_details {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  width: 180px;
}

.t,
.feels_t {
  font-size: 1rem;
  font-weight: 600;
}

.ftext {
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: -4px;
}

.last {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.one {
  display: none;
  background-color: #0f82b7e0;
  padding: 2px;
  width: 170px;
  padding: 5px;
  border-radius: 2px;
  font-weight: 400;
}

.hide {
  display: none;
  position: absolute;
  top: 66px;
  font-size: 1rem;
  background-color: #0f82b7e0;
  padding: 2px 20px;
  border-radius: 2px;
  text-align: center;
  text-transform: capitalize;
  width: 144px;
}

.notShown {
  display: block;
}

.small_card:hover .one,
.small_card:hover .hide {
  display: block;
}

.small_card:hover #humid2 {
  display: flex;
}

.small_card:hover #SmallCardMain {
  margin-bottom: -10px;
}

.small_card:hover .t,
.small_card:hover .feels_t,
.small_card:hover .ftext {
  visibility: hidden;
}

.small_card:hover .notShown {
  display: none;
}

footer {
  margin: 10px;
  width: auto;
  height: 100px;
  border-top: 2px solid rgba(47, 157, 190, 0.582);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer p {
  font-size: 1.4rem;
  margin: 10px 0px 10px 0px;
}

@media only screen and (max-width: 1000px) {
  .content {
    margin-left: 2px;
    width: 94vw;
    height: 412px;
    overflow: hidden;
  }
}

@media screen and (min-width: 720px) {
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }
}

@media only screen and (max-width: 650px) {
  .in {
    width: 80vw;
  }
  input[type="text"] {
    width: 60vw;
  }

  input[type="submit"] {
    width: 100px;
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  header {
    font-size: 2rem;
  }

  header img {
    width: 80px;
  }

  main {
    margin-top: 40px;
  }

  #main_content {
    flex-direction: column;
  }

  .content {
    margin-left: 2px;
    width: 94vw;
    height: 412px;
    overflow: hidden;
  }

  .others {
    font-size: 0.7rem;
  }

  .temp {
    margin: 0px 2px 0px 10px;
  }

  #error {
    width: 94vw;
    margin: -76px 0px 48px 10px;
  }
}
